.bar-container{
    background-color: var(--bs-white);
    border-color: white;
    stroke: white 1px;
    min-height: 3vw;
    position: relative;
}
.marker{
    opacity: .4;
    background-color: var(--bs-yellow);
    width: 3vw;
    min-height: 3vw;
    position: absolute;
    transition: all .2s linear;
    top: 0;
}

.hitted{
    box-shadow: 0 0 10px red;
}
.marker-left{
    left: 20%;
}
.active{
    background-color: var(--bs-purple);
}
.marker-right{
    left: 80%;
}

.bar-item{
    width: 10px;
    min-height: 3vw;
    background-color: var(--bs-red);
    position: absolute;
    top: 0;
    left: 20%;
    transition: all 2ms linear;
}

body{
    background-color: black;
}


.lives{
    color: blanchedalmond;
}