.bar-container{
     border: 1px solid white ; 
    box-shadow: 0 0 540px -5px rgba(255,255,255,.6);
    min-height: 3vw;
    position: relative;
}
.marker{
    opacity: 0.5;
    background-color: var(--bs-yellow-200);
    width: 3vw;
    min-height: 2.8vw;
    position: absolute;
    transition: all .2s linear;
    top: 0;
}

.hitted{
    box-shadow: 0 0 10px red;
}
.marker-left{
    left: 20%;
}
.active{
    background-color: var(--bs-purple);
}
.marker-right{
    left: 80%;
}

.bar-item{
    width: 10px;
    min-height: 2.8vw;
    background-color: var(--bs-white);
    position: absolute;
    top: 0;
    left: 20%;
    transition: all 2ms linear;
}

body{
    background-color: black;
}


.lives{
    font-family: 'Orbitron', sans-serif;
    color: white;
    border: white;
    border-radius: 10px;
}
